.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.inicio-background {
  background-image: url('/public/img/ini2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 50px;
}


.background-image {
  background-image: url('/public/img/art.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.custom-margin-bottom {
  margin-bottom: 50px;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-outline-dark:hover {
  color: black; /* Cambia el color del texto al pasar el mouse */
  background-color: whitesmoke; /* Cambia el color de fondo al pasar el mouse */
  border-color: transparent; /* Cambia el color del borde al pasar el mouse */
}

.card.border-0 {
  border: 0;
}


.carousel-img-fixed {
  width: 200px;
  height: 470px;
  object-fit: cover;
}

.card-img-fixed {
  width: auto;
  height:280px;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}